@import "@statamic/cms/tailwind.css";
@source "../js/**/*.vue";

@theme inline {
    --color-dark-100: #dfe1e5;
    --color-dark-150: #bbbdc0;
    --color-dark-175: #93979a;
    --color-dark-200: #5f6163;
    --color-dark-250: #555759;
    --color-dark-275: #515356;
    --color-dark-300: #4e5157;
    --color-dark-350: #43454a;
    --color-dark-400: #414245;
    --color-dark-500: #404143;
    --color-dark-550: #3b3f41;
    --color-dark-575: #393b40;
    --color-dark-600: #2b2d30;
    --color-dark-650: #242628;
    --color-dark-700: #212223;
    --color-dark-750: #22242a;
    --color-dark-800: #1e1f22;
    --color-dark-900: #171717;
    --color-dark-950: #161616;
    --color-dark-975: #131314;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialSymbolsOutlined-Regular.ttf') format('truetype');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
